vim/.netrwhist
canto/*
!canto/conf
newsboat/*
!newsboat/urls
!newsboat/config
links/links.his
lynx/session.txt
vimb/*
!vimb/bookmark
*.errors
*.hi
*.o
xmonad-x86_64-linux
cabal/bin
cabal/logs
cabal/packages
cabal/store
!vimb/config
