[submodule "tmux-plugins/tmux-battery"]
	path = tmux-plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule "vim-tmux"]
	path = vim/pack/myplugins/start/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux
[submodule "vim-plantuml-syntax"]
	path = vim/pack/myplugins/start/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax
[submodule "vim-markdown"]
	path = vim/pack/myplugins/start/vim-markdown
	url = https://github.com/pkrog/vim-markdown
[submodule "vim-Smart-Tabs"]
	path = vim/pack/myplugins/start/Smart-Tabs
	url = https://github.com/vim-scripts/Smart-Tabs
[submodule "vim-keepcase"]
	path = vim/pack/myplugins/start/keepcase.vim
	url = https://github.com/vim-scripts/keepcase.vim
[submodule "vim-surround"]
	path = vim/pack/myplugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-bbye"]
	path = vim/pack/myplugins/start/vim-bbye
	url = https://github.com/moll/vim-bbye
[submodule "vim-git"]
	path = vim/pack/myplugins/start/git-vim
	url = https://github.com/motemen/git-vim
[submodule "vim-perl6"]
	path = vim/pack/myplugins/start/vim-perl6
	url = https://github.com/vim-perl/vim-perl6
[submodule "vim-taboo"]
	path = vim/pack/myplugins/start/taboo.vim
	url = https://github.com/gcmt/taboo.vim
[submodule "vim-SyntaxRange"]
	path = vim/pack/myplugins/start/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange
[submodule "vim-perl"]
	path = vim/pack/myplugins/start/vim-perl
	url = https://github.com/vim-perl/vim-perl
[submodule "vim-markdown-folding"]
	path = vim/pack/myplugins/start/vim-markdown-folding
	url = https://github.com/pkrog/vim-markdown-folding
[submodule "vim-html5"]
	path = vim/pack/myplugins/start/html5
	url = https://github.com/othree/html5.vim
[submodule "vim-SyntaxAttr"]
	path = vim/pack/myplugins/start/SyntaxAttr
	url = https://github.com/vim-scripts/SyntaxAttr.vim
[submodule "vim/pack/myplugins/start/Nvim-R"]
	path = vim/pack/myplugins/start/Nvim-R
	url = https://github.com/jalvesaq/Nvim-R
