[submodule "tmux-plugins/tmux-battery"]
	path = tmux-plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule "vim-tmux"]
	path = vim/pack/myplugins/start/vim-tmux
	url = https://github.com/tmux-plugins/vim-tmux
[submodule "vim-plantuml-syntax"]
	path = vim/pack/myplugins/start/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax
[submodule "vim-Smart-Tabs"]
	path = vim/pack/myplugins/start/Smart-Tabs
	url = https://github.com/vim-scripts/Smart-Tabs
[submodule "vim-keepcase"]
	path = vim/pack/myplugins/start/keepcase.vim
	url = https://github.com/vim-scripts/keepcase.vim
[submodule "vim-surround"]
	path = vim/pack/myplugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-bbye"]
	path = vim/pack/myplugins/start/vim-bbye
	url = https://github.com/moll/vim-bbye
[submodule "vim-taboo"]
	path = vim/pack/myplugins/start/taboo.vim
	url = https://github.com/gcmt/taboo.vim
[submodule "vim-SyntaxRange"]
	path = vim/pack/myplugins/start/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange
[submodule "vim-perl"]
	path = vim/pack/myplugins/start/vim-perl
	url = https://github.com/vim-perl/vim-perl
[submodule "vim-html5"]
	path = vim/pack/myplugins/start/html5
	url = https://github.com/othree/html5.vim
[submodule "vim-SyntaxAttr"]
	path = vim/pack/myplugins/start/SyntaxAttr
	url = https://github.com/vim-scripts/SyntaxAttr.vim
[submodule "vim/pack/myplugins/start/Nvim-R"]
	path = vim/pack/myplugins/start/Nvim-R
	url = https://github.com/jalvesaq/Nvim-R
[submodule "vim/pack/myplugins/start/SimpylFold"]
	path = vim/pack/myplugins/start/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold
[submodule "vim/pack/myplugins/start/YouCompleteMe"]
	path = vim/pack/myplugins/opt/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe
[submodule "vim/pack/myplugins/start/vimteractive"]
	path = vim/pack/myplugins/start/vimteractive
	url = https://github.com/williamjameshandley/vimteractive
[submodule "vim/pack/plugins/start/lightline"]
	path = vim/pack/myplugins/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/pack/myplugins/start/vim-fugitive"]
	path = vim/pack/myplugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/myplugins/start/php.vim"]
	path = vim/pack/myplugins/start/php.vim
	url = https://github.com/StanAngeloff/php.vim
[submodule "vim/pack/myplugins/start/csv.vim"]
	path = vim/pack/myplugins/start/csv.vim
	url = https://github.com/chrisbra/csv.vim
[submodule "vim/pack/myplugins/start/vim-commentary"]
	path = vim/pack/myplugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/pack/myplugins/start/vim-pandoc"]
	path = vim/pack/myplugins/opt/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
[submodule "vim/pack/myplugins/start/vim-pandoc-syntax"]
	path = vim/pack/myplugins/opt/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax
[submodule "vim/pack/myplugins/start/php-foldexpr.vim"]
	path = vim/pack/myplugins/start/php-foldexpr.vim
	url = https://github.com/swekaj/php-foldexpr.vim
[submodule "vim/pack/myplugins/opt/vim-markdown-folding"]
	path = vim/pack/myplugins/opt/vim-markdown-folding
	url = https://github.com/masukomi/vim-markdown-folding
[submodule "vim/pack/myplugins/opt/vim-markdown"]
	path = vim/pack/myplugins/opt/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "vim/pack/myplugins/start/vim-cpp-modern"]
	path = vim/pack/myplugins/start/vim-cpp-modern
	url = https://github.com/bfrg/vim-cpp-modern
[submodule "tmux-plugins/tpm"]
	path = tmux-plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux-plugins/tmux-online-status"]
	path = tmux-plugins/tmux-online-status
	url = https://git::@github.com/tmux-plugins/tmux-online-status
[submodule "tmux-plugins/tmux-cpu"]
	path = tmux-plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu
